.DS_Store
.idea/shelf
/dependencies/repo
/dist
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
/intellij
*.versionsBackup
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml

.idea

.rpt2_cache/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
kotlin-ide/